@charset "utf-8";
/* CSS Document */
/*Design by xuyuzhong*/
/*Date:2010-05-21*/
/*该样式表仅作为去除CSS默认样式，无特殊要求，请勿修改！*/

body {
	font-family:"宋体",Arial, Helvetica, sans-serif;
	color:#444;
	margin:0;
	padding:0;font-size:12px;
	line-height:22px;
	table-layout:fixed;
}
a {
	text-decoration:none;
}
img {
	border:0;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
p {
	text-indent:20px;
}
hr {
	border:0px;
	border-bottom:1px #ccc solid;
	margin:0;
	height:1px;
}
div {
	table-layout:fixed;
}

